.places {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.places h1 {
	font-size: 30px;
	text-align: left;
	flex-basis: 100%;
	margin-bottom: 0px;
	padding-left: 20px;
}

.places article {
	width: 390px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}
